<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <script src="https://vuejs.org/js/vue.min.js"></script>
</head>
<body>
<div id="root">
    <input type="text" v-model="inputValue"/>
    <button v-on:click="handleClick">提交</button>
    <ul>
        <li v-for="item in list">{{item}}</li>
    </ul>
</div>
<script>
    var vm = new Vue({
        el: '#root',
        data: {
            list: [],
            inputValue: ''
        },
        methods: {
            handleClick: function() {
                this.list.push(this.inputValue)
                this.inputValue = ''
            }
        }
    })
</script>
</body>
</html>